<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="{{url_for('static', 
            filename='css/bootstrap.css')}}">
    <link rel="stylesheet"  href="{{url_for('static', 
            filename='css/bootstrap-utilities.css')}}">
    <link rel="stylesheet"  href="{{url_for('static', 
            filename='css/fontawesome_all.css')}}">
            <!-- Bootstrap Table! -->
    <link rel="stylesheet"  href="{{url_for('static', 
            filename='css/bootstrap-table.min.css')}}">
     <link href="/static/assets/img/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    
		<!-- Google Font CSS -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" 
			 rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Yuji+Hentaigana+Akebono&display=swap" 
		rel="stylesheet">
        
</head>
<body>

{#{ result  }#}


<div class="container-fluid">
     {% block content %}

        {% block page_content %}
     
        {% endblock page_content %}

    {% endblock content %}



</div>
<script src="/static/js/jquery-3.2.1.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/bootstrap-table.min.js"></script>
</body>
</html>