{% extends 'base.html' %}

    {% block page_content %}

    <div class="row g-3 fw-bold text-success border-primary">
        <div class="col-md-2"> 
            {{ current_patient['patientID']}}
        </div>
        <div class="col-md-2"> 
           {{current_patient['patientTitle']}}. 
           {{ current_patient['patientLastname']}} 
           {{ current_patient['patientFirstname'] }}
        </div>
        <div class="col-md-1"> 
            {{  current_patient['patientDateofBirth'] }}
        </div>
        <div class="col-md-1"> 
                {{ current_patient['ageGrade'] }}
        </div>
        <div class="col-md-1"> 
                {{  current_patient['patientSex'] }}
        </div>
        <div class="col-md-1"> 
                {{ current_patient['patientType'] }}
        </div>
        <div class="col-md-1"> 
                {{ current_patient ['patientCompanyname'] }} 
        </div>
        <div class="col-md-2"> 
            
        </div>
    </div>
    {{ current_patient  }}
    <table class="table table-striped table-hover table-bordered" id="table" 
    data-toggle="table"  data-search="true"
    data-show-columns="true"  data-card-view="false"
    data-toggle="table"
    data-height="440"
    data-click-to-select="true"
    data-checkbox-header="true"
    data-show-footer="false" >
    <thead>    
    <tr>
            <th scope="col">#</th>
            <th scope="col">testType</th>
            <th scope="col">testmnemonics</th>
            <th scope="col">testName</th>
            <th scope="col">testPrice</th>
            <th scope="col">testTAT</td>
            <th scope="col">testDetails</th>
          </tr>
        </thead>
        <tbody>
{% for item  in rowList %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{ item['testType'] }} </td>
            <td>{{ item['testmnemonics'] }} </td>
            <td>{{ item['testName'] }} </td>
            <td>{{ item['testPrice'] }} </td>
            <td>{{ item['testTAT'] }} </td>
            <td>{{ item['testDetails'] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<script>
    $(function() {
      $('#table').bootstrapTable()
    })
</script>
{% endblock page_content %}