<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="{{url_for('static', 
            filename='css/bootstrap.css')}}">
    <link rel="stylesheet"  href="{{url_for('static', 
            filename='css/bootstrap-utilities.css')}}">
</head>
<body>

{#{ result  }#}


<div class="container col-8">
    <div class="row g-3 fw-bold text-success border-primary">
        <div class="col-md-2"> 
            {{ current_patient['patientID']}}
        </div>
        <div class="col-md-2"> 
            {{ current_patient['patientLastname']}} {{ current_patient['patientFirstname'] }}
        </div>
        <div class="col-md-1"> 
            {{  current_patient['patientDateofBirth'] }}
        </div>
        <div class="col-md-1"> 
                {{ current_patient['ageGrade'] }}
        </div>
        <div class="col-md-1"> 
                {{  current_patient['patientSex'] }}
        </div>
        <div class="col-md-1"> 
                {{ current_patient['patientType'] }}
        </div>
        <div class="col-md-1"> 
                {{ current_patient ['patientCompanyname'] }} 
        </div>
        <div class="col-md-2"> 
            
        </div>
    </div>

    <table class="table">
        <tr>
            <th scope="col">#</th>
            <th scope="col">testType</th>
            <th scope="col">testmnemonics</th>
            <th scope="col">testName</th>
            <th scope="col">testPrice</th>
            <th scope="col">testTAT</td>
            <th scope="col">testDetails</th>
          </tr>
{% for item  in rowList %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{ item['testType'] }} </td>
            <td>{{ item['testmnemonics'] }} </td>
            <td>{{ item['testName'] }} </td>
            <td>{{ item['testPrice'] }} </td>
            <td>{{ item['testTAT'] }} </td>
            <td>{{ item['testDetails'] }}</td>
        </tr>
    {% endfor %}
</table>
<script src="app/static/js/bootstrap.js"></script>
</body>
<script src="app/static/js/bootstrap.js"></script>
</html>