<!DOCTYPE html>
{% extends 'base.html' %}

    {% block page_content %}

    <table class="table table-striped table-hover table-bordered" id="table" 
    data-toggle="table"  data-search="true"
    data-show-columns="true"  data-card-view="false"
    data-toggle="table"
    data-height="440"
    data-click-to-select="true"
    data-checkbox-header="true"
    data-show-footer="false" >
    <thead>    
    <tr>
            <th scope="col">#</th>
            <th scope="col">patientID</th>
            <th scope="col">patientSex</th>
            <th scope="col">patientType</th>
            <th scope="col">patientTitle </td>
            <th scope="col">patientLastname</th>
            <th scope="col">patientFirstname</th>
            <th scope="col">ageGrade</th>
            <th scope="col">patientEmail</th>
            <th scope="col">patientPhonenumber</th>
            <th scope="col">patientwhatsappnumber</th>
            <th scope="col">patientpersonalEnroledby </td>
          </tr>
        </thead>
          <tbody>
{% for item  in rowList %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{ item['patientID'] }} </td>
            <td>{{ item['patientSex'] }} </td>
            <td>{{ item['patientType'] }} </td>
            <td>{{ item['patientTitle'] }} </td>
            <td>{{ item['patientLastname'] }} </td>
            <td>{{ item['patientFirstname'] }} </td>
            <td>{{ item['ageGrade'] }} </td>
            <td>{{ item['patientEmail'] }} </td>
            <td>{{ item['patientPhonenumber'] }} </td>
            <td>{{ item['patientwhatsappnumber'] }} </td>
            <td>{{ item['patientpersonalEnroledby'] }} </td> 
        </tr>
    {% endfor %}
    </tbody>
</table>
<script>
    $(function() {
      $('#table').bootstrapTable()
    })
</script>
{% endblock page_content %}