<!DOCTYPE html>
{% extends 'base.html' %}

    {% block page_content %}

    <table class="table table-striped table-hover table-bordered" id="table" 
        data-toggle="table"  data-search="true"
        data-show-columns="true"  data-card-view="false"
        data-toggle="table"
        data-height="440"
        data-click-to-select="true"
        data-checkbox-header="true"
        data-show-footer="false" >
        <thead>
        <tr>
             <th data-field="  ">#</th>
            <th data-field="CurrentpatientID">CurrentpatientID</th>
             <th data-field="barcode<"> barcode</th>
             <th data-field="fullName">fullName</th>
             <th data-field="regtype">regtype</th>
             <th data-field="sex">sex</th>
             <th data-field="billto">billto,</th>
             <th data-field="testscheduletype">testscheduletype</th>
             <th data-field="subtotal">subtotal</th>
             <th data-field="discount">discount</th>
             <th data-field="total">total</th>
             <th data-field="paymentmethod">paymentmethod</th>
             <th data-field="payment">payment</th>
             <th data-field="referenceOrchange">referenceOrchange</th>
             <th data-field="sessionconfirm">sessionconfirm</th>
             <th data-field="paymentconfirm">paymentconfirm</th>
             <th data-field="cashier">cashier</th>
             <th data-field="invoicetestname">invoicetestname</th>
             <th data-field="invoiceprice">invoiceprice</th>
             <th data-field="transactTime">transactTime</th>
             <th data-field="phlebotomyProcessed">phlebotomyProcessed</th>
             <th data-field="paymentupdateamount">paymentupdateamount</th>
             <th data-field="paymentupdateby">paymentupdateby</th>
             <th data-field="paymentupdateTime">paymentupdateTime</th>
          </tr>
        </thead>
        <tbody>
{% for item  in rowList %}
        <tr>
            <td>{{loop.index }} </td>
            <td>{{ item['CurrentpatientID'] }} </td>
            <td>{{ item['barcode'] }} </td>
            <td>{{ item['fullName'] }} </td>
            <td>{{ item['regtype'] }} </td>
            <td>{{ item['sex'] }} </td>
            <td>{{ item['billto'] }} </td>
            <td>{{ item['testscheduletype'] }} </td>
            <td>{{ item['subtotal'] }} </td>
            <td>{{ item['discount'] }} </td>
            <td>{{ item['total'] }} </td>
            <td>{{ item['paymentmethod'] }} </td>
            <td>{{ item['payment'] }} </td>
            <td>{{ item['referenceOrchange'] }} </td>
            <td>{{ item['sessionconfirm'] }} </td>
            <td>{{ item['paymentconfirm'] }} </td>
            <td>{{ item['cashier'] }} </td>
            <td>{{ item['invoicetestname'] }} </td>
            <td>{{ item['invoiceprice'] }} </td>
            <td>{{ item['transactTime'] }} </td>
            <td>{{ item['phlebotomyProcessed'] }} </td>
            <td>{{ item['paymentupdateamount'] }} </td>
            <td>{{ item['paymentupdateby'] }} </td>
            <td>{{ item['paymentupdateTime'] }} </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<script>
    $(function() {
      $('#table').bootstrapTable()
    })
</script>
{% endblock page_content %}